

@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model Tuple<ReportFromMonthsParametersViewModel, ListReportFromMonthsViewModel, ListPlanViewModel>;

@{
    ViewData["Title"] = "Raporty z ostatnich miesięcy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Raporty z ostatnich miesięcy</h1>


<div style="margin-top: 50px">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Data transakcji</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Podkategoria</th>
                <th scope="col">Kwota</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item2.Items)
            {
                <tr>
                    <th scope="row"></th>
                    <td style="height: 50px;">@item.DateOfTransaction</td>
                    <td style="height: 50px;">@item.Kategoria</td>
                    <td style="height: 50px;">@item.Podkategoria</td>
                    <td style="height: 50px;">@item.Kwota</td>

                </tr>
            }
        </tbody>

    </table>
</div>

<select name="skills" multiple="" class="ui fluid dropdown">
    <option value="">Wybierz miesiące</option>
    @foreach (var item in Model.Item3.Items)
    {
        <option class="substring" value="@item.PlanId">@item.Miesiąc.ToString().Substring(0, 7)</option>
    }

</select>


<form asp-action="ListRaports">
    <input style="display:none" asp-for=@Model.Item1.UserId value="0" />
    <input style="display:none" id="hidden" asp-for=@Model.Item1.Plan_Id />
    <div class="form-group">
        <input id="submit" type="submit" value="Zatwierdź" class="btn btn-success" style="margin-top:30px" />
    </div>
</form>


<script>
    let stringWithId = '';
    $('.ui.dropdown').dropdown();
    $('select').change(() => {
        stringWithId = $('select').val().join(',');
        $('#hidden').val(stringWithId);
    })


</script>