<script src="../../js/datatables.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

@using Microsoft.AspNetCore.Identity
@using AuthDatabase.Entities;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model ListKategoriaViewModel;
@{
    ViewData["Title"] = "Lista dostępnych kategorii produktów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista dostępnych kategorii produktów</h1>


<div style="margin-top: 50px">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Zdjęcie</th>
                <th>Action</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var photoPath = "~/img/" + (@item.SciezkaDoZdjecia ?? "noimage.png");
                int UzId = item.UzId;
            <tr>
                <th scope="row"></th>
                <td style="height: 50px;">@item.Kategoria</td> 
                <td><img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" /></td>
                @if (UzId > 0)
                {
                    <td style="height: 50px;">
                        <a class="ui primary basic button delete" data-cat='@item.KatId'>Usuń</a>
                        <div class="modal" style="display: none; z-index: 10; position: fixed; height: 100vh; width: 100vw; background-color: black; opacity: 0.5" data-category='@item.KatId'></div>
                        <div class="ui modal" style="display: none; z-index: 11; width: 60vw; position: fixed; left: 20vw; top: 100px; height: auto;" data-category='@item.KatId'>
                            <i class="close icon"></i>
                            <div class="header">
                                Przed usunięciem
                            </div>
                            <div class="image content">
                                <div class="description">
                                    <div class="ui header">Czy na pewno chcesz usunąć ?</div>
                                    <p>To spowoduje usunięcie również innych danych związanych z tą kategorią</p>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="ui black deny button">
                                    Nie
                                </div>
                                <a class="ui positive right labeled icon button confirmDelete" asp-action="DeleteCategory" asp-route-id="@item.KatId">
                                    Tak
                                    <i class="checkmark icon"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <th scope="row"></th>
                }
            </tr>
            }
        </tbody>

    </table>
</div>
<a style="position: relative; top: 30px;" asp-area="" asp-controller="Kategoria" asp-action="AddNewCategory"><button class="ui primary button" type="submit">Dodaj nową kategorie</button></a>


<script>
    //$('.ui.modal').modal('show');
    let table = $('#myTable').DataTable({
        "pageLength": 100,
        columnDefs: [{
            orderable: false,
            targets: [0,2]
        }],
        "order": [[1, 'asc']]
    });
    $('#myTable_wrapper').removeClass('form-inline')

    table.on( 'order.dt search.dt', function () {
        table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    }).draw();

    // usuwanie
    $('.delete').click(function () {
        let choosenId = $(this).data('cat');
        $(`[data-category=${choosenId}]`).css('display', 'block');
    })

    $('.close').click(function () {
        $('.modal').css('display','none')
        ;
    })

    $('.deny').click(function () {
        $('.modal').css('display','none')
        ;
    })


</script>


