
@model IndexViewModel

@{ 
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This blog has everything that you need to relax";
    ViewBag.Keywords = "blog programming travel home";
    var base_path = Context.Request.PathBase;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    @*<h2>Home Page</h2>
    <img src="~/content/static/orig_307182.jpg" width="500"/>*@
    <div class="main-img">
        <span class="title">Okruszki</span>
    </div>
    <div class="container">
        @*<ul>
            @foreach (var post in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                        @post.Title
                    </a>

                </li>
            }
        </ul>*@
        @foreach (var post in Model.Posts)
        {
            var image_path = $"{base_path}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path"/>
            <span class="title">
                @post.Title
            </span>
        </a>
        }

    <div>
        @if (Model.PageNumber > 0)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
                asp-route-pageNumber="@(Model.PageNumber - 1)">Previous Page</a>
        }
        @if (Model.NextPage)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-category="@Model.Category"
               asp-route-pageNumber="@(Model.PageNumber + 1)">Next Page</a>
        }
    </div>

    </div>
</body>
</html>