
@model IndexViewModel

@{ 
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This blog has everything that you need to relax";
    ViewBag.Keywords = "blog programming travel home";
    var base_path = Context.Request.PathBase;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    @*<h2>Home Page</h2>
    <img src="~/content/static/orig_307182.jpg" width="500"/>*@
    <div class="main-img">
        <span class="title">Okruszki</span>
        <form asp-controller="Home" asp-action="Index" method="get">
            <input type="hidden" name="pageNumber" value="@Model.PageNumber"/>
            <input type="hidden" name="category" value="@Model.Category"/>
            <input class="search" type="text" name="search" placeholder="Search Blog" value="@Model.Search"/>
            <button class="submit-btn">Search</button>
        </form>
    </div>
    <div class="container">
        @*<ul>
            @foreach (var post in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                        @post.Title
                    </a>

                </li>
            }
        </ul>*@
        <partial name="BlogPagination" model="Model" />

        @foreach (var post in Model.Posts)
        {
            var image_path = $"{base_path}/Image/{post.Image}";
            <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                <img src="@image_path" />
                <span>
                    @post.Title
                </span>
            </a>
        }

        <partial name="BlogPagination" model="Model" />

    </div>
</body>
</html>